/* General Styles */
body {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 20px;
  font-weight: 350;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
  text-align: justify;
}

.bold {
  font-weight: bolder;
}

/* Custom Colors */
.custom-color {
  background-color: #e4ff5c;
}

.custom-text-color {
  color: #000;
}

/* Card Custom Styles */
.card-custom {
  width: 100%;
  max-width: 360px;
  height: auto;
  margin: 10px auto;
}

.card-custom img {
  width: 100%;
  height: auto;
}

/* Instax Card Custom Styles */
.card-instax {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}

.card-instax img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 30px 0;
}

/* Carousel Customization */
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item {
  transition: transform 2000ms ease-in-out;
}

.carousel-inner {
  width: 100%;
  height: 360px;
  overflow: hidden;
}

.carousel-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media Queries */
@media (max-width: 1024px) {
  .card-custom {
    max-width: 320px;
  }
}

@media (max-width: 768px) {
  .card-custom {
    max-width: 100%;
    height: auto;
  }

  .card-instax {
    max-width: 320px;
  }

  .card-instax img {
    padding: 20px 0;
  }
}

@media (max-width: 576px) {
  .card-custom {
    max-width: 100%;
    height: auto;
  }

  .card-instax {
    max-width: 280px;
  }

  .card-instax img {
    padding: 20px 0;
  }
}

/* Custom Navbar and Footer */
.navbar.custom-color {
  background-color: #e4ff5c;
}

footer.custom-color {
  background-color: #e4ff5c;
}
